.mode {
    width: 400px;
    height: 600px;
    background-color: #07070f;
    border: 2px solid white;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 50px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.mode-title {
    position: absolute;
    bottom: 24px;
    text-align: center;
    font: bold 1.5em var(--font-title);
    transition: opacity 0.3s ease;
}

.mode-description {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 24px;
    background: rgba(0, 0, 0, 0.85);
    color: var(--color-text);
    border-radius: 0 0 8px 8px;
    transition: bottom 0.3s ease;
}

.mode:hover {
    background-color: var(--color-accent);
}

.mode:hover .mode-description {
    bottom: 0;
}

.mode:hover .mode-title {
    opacity: 0;
}